img:hover {
  width: 300px;
  border: solid white 10px; 
  
}

h3:hover {
  text-decoration: underline wavy white 5px;
  text-transform: uppcase;
}

  h3 {
  color: lightblue;
  text-decoration: overline underline 5px salmon;
  text-decoration-color: white;
  letter-spacing: 2px; 
  word-spacing: 10px;
  text-shadow: 2px 2px 5px wheat;
  text-align: center; 
}
 

body {
  background-color: black;
}
  
